body
{
background-color: #575757;
color: #fff;
font-family: verdana;
}

h1
{
    text-align: center;
}
#wrapper
{
width: 900px;
margin: 0px auto;
}
#left
{
float:left;
width: 125px;

}

#center
{
float:left;
width:600px;
padding: 0px 10px;
}

#right
{
float:left;
width: 125px;
}

path{
    fill: #A3A3A3;
}


#styleLinks
{
    float:right;
    position:relative;
    right: 20px;
}
#styleLinks span
{
    color: #fff;
    font-family: verdana;
    text-decoration: none;
    margin: 10px;
}
#styleLinks span:hover{
    color: #A3A3A3;
    cursor: pointer; 
}

.buttons
{
    position:relative;
    top: 10px;
}

#clear
{
    float:right;
}
