/*  GLOBAL  */

*{
    margin:0px;
    padding:0px;
}
body
{
    background-color: #191970;
    text-align:center;
    line-height: 25px;
    font-family: Roboto Slab;
}

#wrapper
{
    min-width: 1px;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
#foot
{
    width: 800px;
    color: #fff;
    clear: both;
    margin: 10px auto;
}
.helpp
{
    text-align: left;
    margin: 20px;
}
h2
{
    text-align: left;
    margin-left: 20px;
}
#foot li , a
{
list-style-type: none;
display: inline;
margin: 10px 10px;
}

#foot li:hover , a:hover{
border-bottom: thin dotted #fff;
}
#foot a , a
{
    text-decoration: none;
    color: #fff;
}
#foot a:hover
{
    color: #fff;
    
    
}
#openQ
{
    height: 700px;
    width: 800px;
    background-color: #000;
    position: relative;
    top: -750px;
    margin: 0px auto;
    opacity: 0.9;
}
/*  END GLOBAL  */

/* HOMEPAGE */
#selectGame
{
    width: 800px;
    color:#eee;
    background-color: #222;
    opacity: .8;
    border-radius: 15px;
    padding-bottom: 50px;
}
.gameCats
{
    width: 300px;
    text-align: left;
    margin: 0px auto;
}
.selectRound:hover
{
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}
h3
{
    text-align: left;
    margin-left: 200px;
    margin-top: 25px;
}
h1
{
    border-bottom: thin solid #000;
    margin-top: 25px;
    padding-bottom: 5px;
}
/* END HOMEPAGE */




/* GAME BOARD */
#scoreCard
{
    text-align: left;
    width: 140px;
    height:30px;
    position: relative;
    top:-625px;
    right: -140px;
    float:right;
    background-color:#000;
    color: #fff;
}
#scoreCard p
{
    margin-left: 5px;   
}

.col
{
    width:160px;
    height:625px;
    float:left;
}
.cat
{
    height:25px;
    width: 150px;
    border: thin solid #333;
    margin: 0px auto;
    background-color: #222;
    color:white;
    font-size: 80%;
}

.block
{
    height:125px;
    width: 150px;
    margin: 3px auto;
    border: thin solid #333;
    background-image:url('back.png');
    opacity: .9;
    box-shadow: 5px 5px 10px #000;
    border-radius: 5px;
    text-align: center;
    color: #FFB90F;
    font-size: 50px;
    font-family:Impact, Charcoal, sans-serif;
}
.inactive
{
    height:125px;
    width: 150px;
    margin: 3px auto;
    border: thin solid #333;
    background-color: #333;
    opacity: .5;
    box-shadow: 5px 5px 10px #000;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    font-family:Impact, Charcoal, sans-serif;
}
.inactive p
{
    line-height: 125px;
}
.block p
{
    line-height: 125px;
}

.block:hover
{
    cursor: pointer;
    opacity: 0.7;
}

/* END GAME BOARD */

#openQ h3{
margin: 0;
text-align: center;
color: #fff;
}
#openQ {
color: #fff;
}
.questionP
{
    margin: 50px;
}

#openQContent{
    position:absolute;
    top:0px;
    width:800px;
    height: 700px;
    border: thick solid white;
    z-index: 1000;
    text-align: center;
    
}

#selectAGame
{
    width: 800px;
    color:#eee;
    background-color: #222;
    opacity: .8;
    border-radius: 15px;
    padding-bottom: 400px;
}
#info{
    width: 400px;
    height: auto;
    float:left;
}
#myForm{
    float:left;
	text-align: left;

}

.formCatsR1, .formCatsR2
{
    width: 300px;
    text-align: left;
    margin-left: 150px;
}
.formCatsR1 li:hover, .formCatsR2 li:hover
{
    cursor: pointer;
    color: #33CCCC;
    text-decoration: underline;
}
