*
{
padding: 0px;
margin: 0px;
}

@font-face 
{
font-family:Sansation;
src: url("Sansation.ttf");
}

@font-face
{
font-family: Cantarell;
src: url("Cantarell.ttf");
}

h1, h2, h3, h4, h5, h6
{
font-family:Sansation;
color: yellow;
padding:5px;
}

img
{
border:0px;
}

body
{
background-color:white;
}

#paintball
{
float:right;
padding-left:10px;
}


p
{
text-indent: 30pt;
font-family: Cantarell;
color:white;
padding: 10px;
text-align: justify;
}

a
{
text-decoration: none;
font-family: verdana;
color: white;
}

table
{
text-align: center;
border: 0px;
width: 200px;
}

td:hover, a:hover
{
color:yellow;
font-weight:bold;
background-color: #F36E21;
}

hr
{
color:white;
}

#wrapper
{
width: 800px;
background-color:#F36E21;
margin: 25px auto 5px auto;
border: medium solid black;
padding-bottom: 10px;
}

#banner
{
padding: 0px 0px 10px 0px;
background-color:black;
}


.headpic
{
float: left;
height: 150px;
width: 200px;
padding:0px 10px 0px 0px;
}

#projects
{
background-color:#5E2721;
float: right;
width: 200px;
border-left: thin solid white;
border-bottom: thin solid white;
margin-left:20px;
text-align:center;
}


div.span
{
text-align: center;
background-color: black;
border-top: thin solid white;
border-bottom: thin solid white;
}

#content
{
margin-left:10px;
margin-right:10px;
}

#face
{
float:left;
padding:10px;
width: 270px;
height:200px;
}


.mobile
{
display:none;
}