	body{
			background-color: black;
			color:white;
			text-align:center;
			font-family: arial;
			
		}
		
		p{
			margin: 10px 10px 0px 10px;
			text-align:justify;
			font-family:arial;
		}
		
		h1,h2,h3,h4,h5,h6
		{
			padding: 5px ;	
			font-weight:bold;
		
		}
	   h2,h3,h4,h5,h6{
		   text-decoration: underline;
		   color:white;
	   }
		
		img{
			float: left;
			padding: 10px;
		}
		
		a{
			text-align:center;
			text-decoration: none;
			color: red;
			font-weight: bold;
		}
		
		a:hover{
			color:white;
		}
		
		.wrapper
		{
			background-color: rgb(50,50,50);
			width:700px;
			margin: 0px auto 0px auto;
			border: thin solid white;
			padding: 1em;
		}
		
		#proj{
			width:100px;
			background-color: rgb(50,50,50);
			border: thin solid white;
			padding: 1em;
			float:right;
		}
	    #links{
			width:700px;
			margin: 0px auto 0px auto;
			padding: 1em;
			}
		.floatL{
		float:left;
		}
		
		
		
		